[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
spacy = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
black = "*"
isort = "*"
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
get_nlp_models = "python3 -m spacy download en_core_web_lg"
get_data = "python3 -m kaggle competitions download -c commonlitreadabilityprize && unzip commonlitreadabilityprize.zip -d data/"
train = "python3 -m commonlit.train"
pipeline = "python3 -m commonlit.pipeline"
